.nav ul {
	list-style-type: none;
	overflow: hidden;
	position: fixed;
	margin-top: -1%;
	width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
	box-shadow: 1px 1px 1px #c3bbbb;
	background: white;
}
ul {
	list-style-type: none;
}
.nav ul li {
	float: left;
	padding-right: 2em;
}
.nav ul li a {
	text-decoration: none;
	display:block;
	text-align: center;
	color: #1573c6;
	line-height: 3em;
	width: 6em;
}

.nav ul li a:hover {
   background: #1573c6;
   color: white;
   font-style: bold;
   border-radius: 7px;

}


div#welcome {
    padding-top: 10%;
}

.content {
	text-align: center;
	display: block;
}

.nav li:first-child {
    margin-left: 57%;
}

#abilities, #contact, #portfolio {
	padding-top: 6em;
}